<phpunit
	bootstrap="./vendor/autoload.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<php><ini name="display_errors" value="1"/></php>
	<testsuites>
		<testsuite name="PSL">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
</phpunit>
